/*Login-page*/
body.login{
  background-image: url("../images/background.jpg");
  background-size: 100%;
}

section.login{
  float: left;
  width: 40%;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }

section.login button{
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin: 4px 2px;
  padding: 5px;
  cursor: pointer;
  background-color: #044C7F;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

.logo{
  position: absolute;
  margin-top: -8px;
}

header{
  text-align: center;
}

/*menu side om side*/
nav ul li {
  display: inline-block;
  text-align: center;
}

/*menustyling*/
nav ul li a {
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  padding: 20px;
  color: #216394;
  font-size: 18px;
  width: 100%;
  margin-top: 40px;
}

/*menu aktiv farve*/
.active {
  color: #f78c29;
}

.columns {
  display: flex;
  flex-direction: row;; /* Stackes the articles horizontal */
}


.column {
  flex: 2;
}

.main-column {
  flex: 2;
}

.article {
 background: #226494;
 color: #666;
 display: flex;
 flex: 1;
 flex-direction: column;
 flex-basis: auto;
 margin: 10px;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.article-content {
  flex: 1; /* This will make the content fill up the remaining space,
  and thus push the information bar at the bottom */
  margin-left: : 10px;
}

.article img {
  height: 500px;
  width: 700px;
}
