.logo{
  position: absolute;
  margin-top: -8px;
}

header{
  text-align: center;
}

/*menu side om side*/
nav ul li {
  display: inline-block;
  text-align: center;
}

/*menustyling*/
nav ul li a {
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  padding: 20px;
  color: #216394;
  font-size: 18px;
  width: 100%;
  margin-top: 40px;
}

/*menu aktiv farve*/
.active {
  color: #f78c29;
}
