body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  color:#226494;
}

/*upload.html*/

.box{
  display:block;
  margin: auto;
  background-color: white;
  max-width: 50%;
  margin-top: 70px;
  height: 100%;
  box-shadow: 0px 5px 50px 2px rgba(41,100,137,0.5);
  border-radius: 50px;
  font-size: 20px;
  padding: 40px;
}

.greybox{
  display:block;
  margin: auto;
  background-color: #f2f5f7;
  border-radius: 50px;
  max-width: 50%;
  margin-top: 70px;
  height: 100%;
  box-shadow: 0px 5px 50px 2px rgba(41,100,137,0.5);
  border-radius: 50px;
  font-size: 20px;
  padding: 40px;
}

.form-control{
  width:55%;
  font-size: 20px;
  border-radius: 15px;
  border-color: #dedfdf;
  border-style: solid;
  padding:5px;
  border-width: medium;
  margin: 2%;
}

.form-control1{
  width:65%;
  height: 40px;
  border-radius: 20px;
  border-color: #dedfdf;
  border-style: solid;
  padding:5px;
  border-width: medium;
  font-size: 38px;
  text-align: center;
  margin: 2%;
}

.form-control2{
  width:85%;
  height: 60px;
  border-radius: 20px;
  border-color: #dedfdf;
  border-style: solid;
  padding:5px;
  border-width: medium;
  font-size: 20px;
  margin: 2%;
}

#addst{
  width: 85%;
  max-width: 300px;
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f2;
  border-color: #e6e7e7;
  color:#00a19b;
  font-size: 23px;
  border: none;
  box-shadow: 0px 2px 0px 2px rgba(41,100,137,0.5);
  border-radius: 15px;
}

#upload{
  width: 52.5%;
  padding: 10px;
  background-color: #226494;
  border-color: #e6e7e7;
  color:#f1f1f2;
  font-size: 23px;
  border: none;
  box-shadow: 0px 2px 10px 2px rgba(41,100,137,0.5);
  border-radius: 15px;
}

.downunder{
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 4%;
}

.colorback{
  padding: 10px;
  background-color: #00a19b;
  border-color: #00a19b;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 50px 2px rgba(41,100,137,0.5);
  border-radius: 15px;
}

.add1{
  margin-top: 10px;
  margin-left: -30px;
  width: 100%;
  padding: 10%;
  background-color: #226494;
  color: white;
  font-size: 15px;
  border: none;
  box-shadow: 0px 2px 10px 2px rgba(41,100,137,0.5);
  border-radius: 15px;
}

.add1:hover {
  opacity: 0.9;
}

#add2{
  width: 100%;
  padding: 15px;
  background-color: #f1f1f2;
  border-color: #00a19b;
  color:#00a19b;
  font-size: 25px;
  border: none;
  box-shadow: 0px 5px 50px 2px rgba(41,100,137,0.5);
  border-radius: 15px;
}

/*regt.html*/
.supperbox{
  margin: auto;
  font-weight: bolder;
  background-color: #f2f5f7;
  border-radius: 50px;
  max-width: 80%;
  margin-top: 70px;
  height: 100%;
  box-shadow: 0px 5px 50px 2px rgba(41,100,137,0.5);
  font-size: 15px;
  padding: 30px;
  padding-bottom: 20px;
}

.flexi{
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  justify-content: center;
}

.signup1{
  height: 35px;
  width:300px;
  margin: 20px;
  margin-top:3px;
  border-radius: 20px;
  border-color: #dedfdf;
  border-style: solid;
  padding:6px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: medium;
  font-size: 15px;
  text-align: center;
}

.signup2{
  width:240px;
  height: 10px;
  border-width: medium;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.dash2{
margin-top: 7%;
display: -webkit-flex; /* Safari */
-webkit-flex-wrap: wrap; /* Safari 6.1+ */
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.supperbox2{
  flex: 1;
  font-weight: bold;
  background-color: #f2f5f7;
  border-radius: 50px;
  margin-right: 10%;
  margin-top: 3.4%;
  min-width: 780px;
  padding: 15px;
  box-shadow: 0px 5px 50px 2px rgba(41,100,137,0.5);
  font-size: 15px;
  padding-bottom: 20px;
}

.flexi2{
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  justify-content: center;
}

.uploadstuff1{
  height: 35px;
  width:300px;
  margin: 20px;
  margin-top:3px;
  border-radius: 20px;
  border-color: #dedfdf;
  border-style: solid;
  padding:6px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: medium;
  font-size: 15px;
  text-align: center;
}

.uploadstuff2{
  width:240px;
  height: 10px;
  border-width: medium;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
}
